html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: ghostwhite;
  }

  .hidden{
    display: none;
  }
  
  .noSelect{
    user-select: none;
  }
  
  body { 
    height: 100vh;
    width: 100%;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://pixabay.com/get/e831b20f29f4043ed1584d05fb094197e171e0dc1eac104496f9c579afeabdb1/triangles-1430105_1280.png') no-repeat center center fixed;
    background-size: cover;
    border: 5px solid rgb(139, 126, 211);
  }

  #bg-filter{
    position: relative;
    width: 97%;
    height: 97%;
    background-color: #d8bdbd;
    // opacity: .80;
    opacity: .70;
    filter: blur(11px);
    border-radius: 5px;
  }

  .container {
    display: flex;
    justify-content: center;
    // align-items: center;
    position: absolute;
    width: 95%;
    height: 95%;
    opacity: .9;
    // background-color: black;
    // padding: 10px;
  }

  #row1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    // background-color:red;
    
    .panel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      // border: 2px solid red;
    }
  }

  .formWrapper {
    height: 80%;
    width: 80%;
    
    
    form{
        width: 100%;
        height: 100%;
        padding: 15px;
        background-color: #1d4246a6;
        border-radius: 15px;
      h1{
        text-align: center;
        margin-bottom: 25px;
      }
      code{
        display: table;
        margin: auto;
        background-color: #a38f8f;
      }
      input {
        width: 100%;
        display: block;
        margin-top: 10px;
        height: 35px;
        outline: none;
        border: none;
      }
      input[type='text'] {
        background-color: rgb(218, 211, 205);
        padding: 5px;
      }
      #userIdDiv{
        background-color: rgb(177, 172, 169);
        height: 20px;
        width: 100%;
        margin-bottom: 15px;
      }

      input[type='submit'] {
        height: 30px;
        background-color: #D8BDBD;
        cursor: pointer;
        transition: all .5s;
        &:hover{
          background-color: #B69090;
        }
      }
    }
  }  
  


#row2 {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
  height: 50%;
  // background-color: #9b8787;
  // border: 2px solid red;
  
  #bottomPanel{
    
    width: 100%;
    // height: 80%;
    
    #instructionsWrapper{
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-start;
      // align-items: center;
      
      height: 100%;
      width: 100%;
      // background-color: rgba(91, 31, 110, 0.301);
      border-radius: 30px;
      
      h1 {
        // display: block;
        // background-color: whitesmoke;
        width: 100%;
        text-align: center;
        // height: auto;
        // height: 30px;
      }

      ul {
        list-style: circle;
        display: block;
      }

      ul li {
        line-height: 1.3em;
        // text-align: center;
        margin-bottom: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
      }
    }
  }
}
 

  