html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1{
    padding: 0;
    margin: 0;

  }

  .hidden{
    display: none;
  }
  
  .noSelect{
    user-select: none;
  }
  
  body { 
    height: 100vh;
    width: 100%;
    margin: 0; 
    padding: 0;
    background-color: fuchsia;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://pixabay.com/get/ec33b10b2bf11c22d9584518a34b4794e575ebd204b014429df8c178a1eab4/bench-560435_1920.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  #bg-filter{
    position: relative;
    width: 97%;
    height: 97%;
    background-color: #d8bdbd;
    // background-color: #272727;
    opacity: .80;
    filter: blur(15px);
  }

  .container {
    display: flex;
    justify-content: center;
    // align-items: center;
    position: absolute;
    width: 95%;
    height: 95%;
    opacity: .9;
    background-color: black;
    // padding: 10px;
  }

  #row1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    // background-color:red;

    .panel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      // border: 2px solid red;
  }
  
  }

  .formWrapper {
    height: 80%;
    width: 80%;

    form{
      width: 100%;
      height: 100%;
      padding: 15px;
      background-color: #505050;
      h1{
        text-align: center;
        margin-bottom: 25px;
      }
      code{
        display: table;
        margin: auto;
        background-color: #a38f8f;
        margin-bottom: 5px; 
      }
      input {
        width: 100%;
        display: block;
        margin-top: 10px;
        height: 25px;
      }
      input[type='submit'] {
        height: 30px;
      }
    }
  }  
  


#row2 {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
  height: 50%;
  background-color: #9b8787;
  // border: 2px solid red;
  
  #bottomPanel{
    
    width: 100%;
    // height: 80%;
    
    #instructionsWrapper{
      // display: flex;
      // justify-content: center;
      height: 100%;
      width: 100%;
      background-color: rgb(91, 31, 110);
      
      h1 {
        // display: block;
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        // height: auto;
        // height: 30px;

      }

      ul {
        // list-style: none;
        display: block;
        
      }

      ul li {
        // display: block;
      }


    }

  }
}
 

  