html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: ghostwhite; }

.hidden {
  display: none; }

.noSelect {
  user-select: none; }

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://pixabay.com/get/e831b20f29f4043ed1584d05fb094197e171e0dc1eac104496f9c07daee5b2bd/triangles-1430105_1280.png") no-repeat center center fixed;
  background-size: cover;
  border: 5px solid #8b7ed3; }

#bg-filter {
  position: relative;
  width: 97%;
  height: 97%;
  background-color: #d8bdbd;
  opacity: .70;
  filter: blur(11px);
  border-radius: 5px; }

.container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 95%;
  height: 95%;
  opacity: .9; }

#row1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%; }
  #row1 .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%; }

.formWrapper {
  height: 80%;
  width: 80%; }
  .formWrapper form {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #1d4246a6;
    border-radius: 15px; }
    .formWrapper form h1 {
      text-align: center;
      margin-bottom: 25px; }
    .formWrapper form code {
      display: table;
      margin: auto;
      background-color: #a38f8f; }
    .formWrapper form input {
      width: 100%;
      display: block;
      margin-top: 10px;
      height: 35px;
      outline: none;
      border: none; }
    .formWrapper form input[type='text'] {
      background-color: #dad3cd;
      padding: 5px; }
    .formWrapper form #userIdDiv {
      background-color: #b1aca9;
      height: 20px;
      width: 100%;
      margin-bottom: 15px; }
    .formWrapper form input[type='submit'] {
      height: 30px;
      background-color: #D8BDBD;
      cursor: pointer;
      transition: all .5s; }
      .formWrapper form input[type='submit']:hover {
        background-color: #B69090; }

#row2 {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%; }
  #row2 #bottomPanel {
    width: 100%; }
    #row2 #bottomPanel #instructionsWrapper {
      height: 100%;
      width: 100%;
      border-radius: 30px; }
      #row2 #bottomPanel #instructionsWrapper h1 {
        width: 100%;
        text-align: center; }
      #row2 #bottomPanel #instructionsWrapper ul {
        list-style: circle;
        display: block; }
      #row2 #bottomPanel #instructionsWrapper ul li {
        line-height: 1.3em;
        margin-bottom: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
