<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <title>Exercise tracker</title>
</head>
<body>
    <div id='bg-filter'></div>
    <div class='container' id = 'panelContainer'>
        <div class='row' id='row1'>
            <div class = 'panel' id='leftPanel'>
                <div class='formWrapper'>
                    <form action = "/api/exercise/new-user" method = "post">
                        <h1>Create a New User</h1>
                        <code>POST /api/exercise/new-user</code>
                        <input name = 'username' id='userInput' type='text' placeholder="Enter Username">
                        <div id='userIdDiv' class = 'hidden'><p></p></div>
                        <input type='submit' id='userSubmit'>
                    </form>
                </div>
            </div> 
            <div class = 'panel' id='rightPanel'>
                <div class='formWrapper'>
                    <form action = "/api/exercise/add" method = "post" id='exerciseForm'>
                        <h1>Add Exercises</h1>
                        <code>POST /api/exercise/add</code>
                        <input type='text' name='userid' placeholder="userId">
                        <input type='text' name='description' placeholder="description">
                        <input type='text' name='duration' placeholder="duration (mins)">
                        <input type='text' name='date' placeholder="date (yy-mm-dd)">
                        <input type='submit' id='exerciseSubmit'>
                    </form>
                </div>
            </div>
        </div> 
        <div class='row' id='row2'>
            <div class = 'panel' id='bottomPanel'>
                <div id='instructionsWrapper'>
                    <h1>exercise-tracker restFUL API</h1>
                    <ul>
                        <li>A user can be created by POSTing to <code>/api/exercise/new-user</code>.  An object will be returned with 2 properties:  username & _id.</li>
                        
                        <li>A list of all users can be retrieved by sending a GET request to <code>/api/exercise/users</code></li>
                        
                        <li>You can add an exercise to any users record by POSTing form data (userId, description, duration (mins), date (yy-mm-dd) to <code>/api/exercise/add</code>.
                            If no date is given, current date will be used.  A user object will be returned with the exercise fields added.</li>
                        
                        <li>A full exercise log of any user can be retrieved by sending a GET request to <code>/api/exercise/log</code> with a parameter of userId(_id). 
                            An object will be returned with the exercise log for that user.</li>
                        
                        <li>You can retrieve a partial log any user by also passing along optional parameters of from, to or limit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script>
    const log = (msg) => console.log(msg);
    // let userIdPanel = document.getElementById('userIdDiv');
    // let userSubmit = document.getElementById('userSubmit');
    // console.log(userSubmit);

    // userSubmit.addEventListener('click', event => {
    //     // alert('y');
    //     if(userIdPanel.classList.contains('hidden')) {
    //         userIdPanel.classList.toggle('hidden');
    //     }
    // });
    const exerciseForm = document.getElementById('exerciseForm');
    const exerciseInputs = document.querySelectorAll(' #exerciseForm input[type="text"] ');
    log(exerciseInputs.forEach);
    
    exerciseInputs.forEach( input => {
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    });

    

    const exerciseSubmit = document.getElementById('exerciseSubmit');
    // log(exerciseSubmit);
    // function isFormEmpty() {
    //     let x = document.getElementById()
    // }

</script>    
</body>
</html>