<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" type="text/css" href="/view/style/main.css">
    <title>Exercise tracker</title>
</head>
<body>
    <div id='bg-filter'></div>
    <div class='container' id = 'panelContainer'>
        <div class='row' id='row1'>
            <div class = 'panel' id='leftPanel'>
                <div class='formWrapper'>
                    <form>
                        <h1>Create a New User</h1>
                        <code>POST /api/exercise/new-user</code>
                        <input id='userInput' type='text' placeholder="Enter Username">
                        <input type='submit'>
                    </form>
                </div>
            </div> 
            <div class = 'panel' id='rightPanel'>
                <div class='formWrapper'>
                    <form>
                        <h1>Add Exercises</h1>
                        <code>POST /api/exercise/add</code>
                        <input type='text' placeholder="userId">
                        <input type='text' placeholder="description">
                        <input type='text' placeholder="duration (mins)">
                        <input type='text' placeholder="date (yy-mm-dd)">
                        <input type='submit'>
                    </form>
                </div>
            </div>
        </div> 
        <div class='row' id='row2'>
            <div class = 'panel' id='bottomPanel'>
                <div id='instructionsWrapper'>
                    <h1>exercise-tracker restFUL API</h1>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>